*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Nunito', sans-serif;
}

body, html{
    height: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    width: 600px;
    height: 600px;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    height: 125px;
}

.selectCode, .timeleft{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.selectCode > p, .timeleft > p {
    width: 147px;
}

.code, .time{
    display: flex;
    justify-content: center;
    width: 137px;
    padding: 2px 50px;
    margin-left: 15px;
    background-color: #0c0b0b;
    border: 2px solid #494949;
}

.mid{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.codes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    margin: 20px;
    width: 100%;
    height: 100%;

    padding: 10px;
    grid-gap: 5px;
}

.codeq{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #494949;
    background-color: #0c0b0b;
    width: 130px;
}

.selected{
    background-color: #2d8f00;
}

.bottom{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;

}

.codeSequence{
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
}

h2{
    opacity: 0.5;
}
.hit{
    color: #b8ffd0;
    opacity: 1;
}
